.address-heading{
    margin-top: 10%;
}
.address-box{
    margin-top: 35px;
}
.cart-box{
    margin-left: 8%;
    /* border: 1px solid blac */
}
.cart-calculation{
    /* padding-left: 120px; */
    /* border: 2px solid black; */
    /* border: 1px solid black; */
}
.container{
    /* border:2px solid black; */
}