.address-heading{
    margin-top: 5%;
}
.address-box{
    margin-top: 25px;
}
.cart-box{
    margin-left: 8%;
}
.cart-calculation{
    /* padding-left: 120px; */
    /* border: 2px solid black; */
}
.container{
    /* border:2px solid black; */
}