footer img{
    height: 60px;
}
footer  a{
    color: #ffffff;
    display: block;
    line-height: 2;
}
footer{
    margin-top: 5%;
}
@media (max-width: 760px){
    .footer{
        width: 110%;
    }
 }