.login-form{
    margin-top: 19%;
}
.G-sign{
    padding: 1%;
    background-color: rgb(19, 35, 126);
    border-radius: 10px;
    margin: 0 10%;
}
.show{
    display: block;
}
.hide{
    display: none;
}
small{
    cursor: pointer;
}