.form-box{
    height: 500px;
    width: 420px;
    margin: 7% auto;
    padding-top: 5%;
    border-radius: 12px;
    box-shadow:1px 1px 273px 274px lightGrey;
} 
h5{
    text-align: center;
}
.G-sign{
    background-color: rgb(34, 34, 104);
    padding: 2%;
    border-radius: 5px;
    width: 320px;
    margin: 2% auto;
    cursor: pointer;
}
